.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
    
}
.fr{
    float: right;
}
.style_red{
    color: red;
}
/* 快捷导航模块 */
.shortcut{
    height: 30px;
    
    background-color: azure;
}
.shortcut ul li {
    float: left;

}